# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv
venv/
*.egg-info/

# Docker
.docker/

# Terraform (for later)
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
